 <!--DISPLAY RESULTS MODULE -->
 <div hidden>
    <h3 class="centreThis line">RESULTS FOR {{companyDisplayed}} {{periodDisplayed}}ly </h3>
    <div class="row">
           <button class="col-sm-2 btn btn-light" (click)="sortMasterListAsc()">Ascending Order</button>
           <button class="col-sm-2 btn btn-dark" (click)="sortMasterListDes()">Descending Order</button>
    </div>
 
    <table class="centreThis table colouredTable enlarge">
       <col>
       <colgroup span="2"></colgroup>
       <colgroup span="2"></colgroup>
       <tr>
         <td rowspan="2"></td>
         <th colspan="5" scope="colgroup" class="centreThis">RESULTS</th>
       </tr>
       <tr>
         <th scope="col" class="bottomBorder" *ngFor="let company of companyFinancials.results" style="color: blueviolet;">{{company.year}}</th>
       </tr>
       <tr  class="bottomBorder" *ngFor="let cat of displayCategories()">
         <th class="rightBorder" scope="row" style="color: blueviolet;">{{cat}}</th>  
         <td class="rightBorder" *ngFor="let value of fetchCategoryValue(cat)"> {{value}}</td>
       </tr>
     </table>
 </div>