.one{
    color: aliceblue;
    font-family: fantasy;
}

.centreThis{
    text-align: center;
}


.colouredTable{
    font-family: fantasy;
    color: aqua;
    border-color: aqua;
}

.blueLine{
    border-bottom: 4px;
    border-bottom-color:rgb(44, 44, 185);
    border-bottom-style: solid;
}

.line{
    padding: 50px;
    border-top: 5px;
    border-top-color: aqua;
    border-top-style: solid;
    border-bottom: 5px;
    border-bottom-color: aqua;
    border-bottom-style: solid;
}

.bottomBorder{
    border-bottom: 1px;
    border-bottom-color: aqua;
    border-bottom-style: solid;
    color: blueviolet;
}
.rightBorder{
    border-right: 1px;
    border-right-color: aqua;
    border-right-style: solid;
}

.spaceUp{
    padding-top: 100px;
}

.padRight{
    padding-right: 50px;
}

.floatRight{
    float: right;
}

span:hover {
    font-size: 150%;
    color: blueviolet;
}

.enlarge{
    font-size: 150%;
}


