<div class="one">
   <h1 class="centreThis">DISPLAY & COMPARE COMPANY DATA</h1>
   <nav class="borderShot">
      <button routerLink="SearchCriteria" class="btn btn-warning nav-item">Search Criteria</button>
      <button routerLink="displaySingle" class="btn btn-info nav-item">Display Basic</button>
      <button routerLink="displayAdvanced" class="btn btn-success nav-item">Display Advanced</button>
       <button class="nav-item" (click)="checkMasterList()">Test</button>
   </nav>
   <router-outlet ></router-outlet> 
</div>
