<div class="one">
   <h1 class="centreThis">DISPLAY & COMPARE COMPANY DATA</h1>
   <!--ROW 1-->
   <div class="row bottomPadding">
      <!--DROP DOWN OF COMPANY NAMES-->
      <div ngbDropdown class="col-sm-2">
         <button class="btn btn-success"  ngbDropdownToggle>Select Company</button>
         <div ngbDropdownMenu >
            <button ngbDropdownItem *ngFor="let element of companyNames" (click)="onSelect(element.company)">{{element.company}}</button>
         </div>
      </div>
      <!--SEARCH CRITERIA BUTTON-->
      <div class="col-sm-2">
         <button class="btn btn-warning" (click)="searchModule=true; displayModule=false">Search Criteria</button>
      </div>
      <!--Display Results Button-->
      <div class="col-sm-2">
         <button class="btn btn-primary" (click)="searchModule=false; displayModule=true">Display</button>
      </div>
      <!--TESTING -->
      <div class="col-sm-2">
         <button class="btn btn-warning" (click)="getData()">get me</button>
         <button class="btn btn-warning" (click)="showData()">show me</button>
      </div>
   </div>
   <!--SEARCH CRITERIA MODULE -->

      <div *ngIf="searchModule">
         <h3 class="centreThis">Select Options for {{companySelected}}</h3>
         <!--CHECK BOXES-->
         <div class="row">
            <div class="col-md-4"*ngFor="let cat of categories">
               <input type="checkbox" (change)="onChange(cat.category, $event.target.checked)" />
               {{cat.category}}
            </div>
            <br><br><br><br>
            <div class="row">
               <h3 class="col-sm-4">Select Time Frame </h3><h2 class="col-sm-2" *ngIf="periodSelected" style="color: green;">&#10004;</h2>
            </div>
            <div class="col">
               <input type="radio" name="z" (click)="setPeriod('year')" /> Year
               &nbsp;  &nbsp;  &nbsp;
               <input type="radio" name="z" (click)="setPeriod('quarter')"/> Quarter
            </div>          
         </div>
         <button class="btn btn-success" (click)="checkLength()">Go !</button>
         <button class="btn btn-danger" (click)="searchModule=false">Hide</button>
         <button class="btn btn-info" (click)="clearCompany()">New Company</button>
      </div>


      <!--DISPLAY RESULTS MODULE -->
      <div *ngIf="displayModule">
         <h3 class="centreThis line">RESULTS FOR {{periodSelected}} of {{companySelected}}</h3>
         <div class="row">
                <button class="col-sm-2 btn btn-light" (click)="sortMasterListAsc()">Ascending Order</button>
                <button class="col-sm-2 btn btn-dark" (click)="sortMasterListDes()">Descending Order</button>
         </div>
      
         <table class="centreThis table colouredTable">
            <col>
            <colgroup span="2"></colgroup>
            <colgroup span="2"></colgroup>
            <tr>
              <td rowspan="2"></td>
              <th colspan="5" scope="colgroup" class="centreThis">RESULTS</th>
            </tr>
            <tr>
              <th scope="col" class="bottomBorder" *ngFor="let company of masterCompanyList" style="color: blueviolet;">{{company.year}}</th>
            </tr>
            <tr  class="bottomBorder" *ngFor="let cat of listOfCategories">
              <th class="rightBorder" scope="row" style="color: blueviolet;">{{cat}}</th>  
              <td class="rightBorder" *ngFor="let value of fetchCategoryValue(cat)"> {{value}}</td>
            </tr>
          </table>
      </div>
   
</div>
