.enlarge{
    font-size: 150%;
}

.centreThis{
    text-align: center;
}

.bottomBorder{
    border-bottom: 1px;
    border-bottom-color: navy;
    border-bottom-style: solid;
    color: blueviolet;
}
.rightBorder{
    border-right: 5px;
    border-right-color:navy;
    border-right-style: solid;
    text-align: right;
}