<div class="container">

    <div class="inline">
        <!-- DROPDOWN OF COMPANIES-->
        <div class="row spacer">
            <div ngbDropdown class="inline">
            <button class="btn btn-outline-primary inline" ngbDropdownToggle>Select Company</button>
                <div ngbDropdownMenu >
                    <li ngbDropdownItem 
                        *ngFor="let name of companies" 
                        (click)="selectCompanyName(name)">{{name}} 
                        <!--DELETE COMPANY-->
                        <span role="button" 
                        style="color: red; float: right;"
                        (click)="dropName(name)"> 
                        &#10060;
                        </span>
                    </li>
                </div>
            </div> 
            <!-- TEXT BOX -->
             <div class="inline">
                <input type="text" [(ngModel)]="symbol" placeholder="add new company name" />
                <button class="btn-outline-primary" (click)="addName()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="selectedCompany">
    <!-- SELECT STATEMETNS FOR-->
        <div class="row spacer">
            <div class="colourMe col-md-8 align">STATEMENTS FOR {{selectedCompany}}</div>
        </div>
            <!--SELECT YEAR OR QUARTER-->
            <div class="row spacer col-md-8">
                <div class="btn-group align">
                    <input type="radio" class="btn-check" name="btnradio" id="btnYear" autocomplete="off" (click)="setPeriod('year')" checked>
                    <label class="btn-outline-success" for="btnYear">Yearly</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnQ" autocomplete="off" (click)="setPeriod('quarter')">
                    <label class="btn-outline-success" for="btnQ">Quarterly</label>
                </div>
            </div>
            <div class="row">
                
                    <div class="col">
                        <button class="btn btn-outline-warning enlarge" (click)="statement='income-statement'">Income</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-danger enlarge" (click)="statement='balance-sheet-statement'">Balance</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-primary enlarge" (click)="statement='cash-flow-statement'">Cash Flow</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-primary enlarge" (click)="createProfile(selectedCompany)">CREATE PROFILE</button>
                    </div>
            </div>
            <div class="row" *ngIf="statement">
                <h2 class="row centreThis">{{statement}}</h2>
                <button class="btn btn-danger enlarge  centreThis" (click)="downloadData()">Submit</button>
            </div>
</div>