<div style="margin-top: 50px;"> 
    <div class="nav borderShot" style="margin-left: 50px;">

        <!--DROP DOWN OF COMPANIES IN DB-->
        <div ngbDropdown>
            <button class="btn-outline-info" ngbDropdownToggle>Companies Available</button>
            <div ngbDropdownMenu >
                <button ngbDropdownItem
                    *ngFor="let company of companyMasterList">
                        {{company.id}}.  {{company.name}} ( {{company.period}} )
                        <div  style="float: right; text-align: center;">
                            <!--CHECK BUTTON-->
                            <span role="button" 
                                [ngStyle]="{'background-color': getColour(company.name)}" 
                                (click)="addCompany(company)"> 
                            &#10004;</span>
                            <span role="button" 
                            [ngStyle]="{'background-color': 'red'}" 
                            (click)="dropCompanyMasterList(company.id)"> 
                            &#10060;</span>
                        </div>
                </button> 
                <button ngbDropdownItem (click)="addAllCompanies()">
                    Select All
                </button>
            </div>
        </div>

        <!--DROPDOWN OF COMPANIES SELECTED-->
        <div ngbDropdown>
            <button ngbDropdownToggle 
            class="btn-outline-danger"
            style="color: black;">My Companies 
             </button>   
                <div ngbDropdownMenu>
                    <button ngbDropdownItem *ngFor="let cmp of userSelectedList">
                    {{cmp.id}}.  {{cmp.name}} ( {{cmp.period}} )
                    <div  style="float: right; text-align: center;">
                        <!--DELETE BUTTON-->
                        <span role="button" 
                            [ngStyle]="{'background-color': getColour(cmp.name)}" 
                            (click)="dropCompany(cmp.id)"> 
                            &#10060;</span>
                    </div>
                    </button>
                    <button ngbDropdownItem (click)="dropAllCompanies()">
                        Deselect All
                    </button>
                </div>    
        </div>

        &nbsp; &nbsp; &nbsp;

        <!-- DROPDOWN OF CATEGORIES AVAILABLE-->
        <div ngbDropdown>
            <button  ngbDropdownToggle class="btn-outline-info">Categories Available</button>
            <div ngbDropdownMenu>
                <button ngbDropdownItem 
                        *ngFor="let category of categoryMasterList; let i = index"
                        (click)="addCategory(category)">{{i}}.  {{category}}</button>
                <button ngbDropdownItem (click)="selectAllCategories()">Select All</button>
            </div>
        </div>

        <!-- DROPDOWN OF CATEGORIES ENLISTED-->
        <div ngbDropdown>
            <button ngbDropdownToggle class="btn-outline-danger">Categories Enlisted</button>
            <div ngbDropdownMenu >
                <button ngbDropdownItem 
                        *ngFor="let cat of categoriesSelected"
                        (click)="dropCategory(cat)">{{cat}}</button>
                <button ngbDropdownItem (click)="removeAllCategories()">Remove All</button>
            </div>
        </div>

        &nbsp; &nbsp; &nbsp;

        &nbsp; &nbsp; &nbsp;
        <!--DISPLAY PROFILE DATA OF COMPANIES SELECTED-->
        <button class="btn btn-warning">PROFILES</button>

    </div>

  <div *ngIf="userSelected()" style="margin-top: 50px">
    <app-display-advanced-create
                        [categorySelected]  = "cat" 
                        [categoriesSelected]= "categoriesSelected"
                        [listOfCompanies]   = "userSelectedList"
                        [period]            = "period">      
    </app-display-advanced-create>
  </div>
      
</div>
