<div style="background-color: aqua;" class="row">
    <div class="col-sm-2 flex sidePanel">
   </div>
    <div class="col-md-8 flex"> 
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
              <a ngbNavLink>Holdings</a>
              <ng-template ngbNavContent>
                <app-asset-dashboard></app-asset-dashboard>
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Add Transaction</a>
              <ng-template ngbNavContent>
                  <app-add-transaction></app-add-transaction>
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>View Transactions</a>
              <ng-template ngbNavContent>
                <app-transactions></app-transactions>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav"></div>
    </div>
    <div class="col-sm-2 flex sidePanel">     
      <app-messages></app-messages>
    </div>
</div>
