<div class="row">
    <div class="col-sm-2 flex sidePanel">
     <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" ngbDropdownToggle>Select Company</button>
      <div ngbDropdownMenu >
        <li ngbDropdownItem *ngFor="let name of selectionList" (click)="trialRun(name)">{{name}}</li>
      </div>
     </div> 
   </div>
    <div class="col-md-8 flex"> 
        <app-main-analysis 
                style="color: blue; 
                       font-size: x-large; 
                       font-weight: bolder;">
        </app-main-analysis>
    </div>
    <div class="col-sm-2 flex sidePanel">
        f
    </div>
</div>

