<div class="row">
    <div class="col-sm-2 flex sidePanel">

     <h1>DATA OPTIONS</h1>
     <div>
        <button class="btn btn-outline-success sameSize" (click)="flipView('get')">GET</button>
     </div>
     <div>
       <button class="btn btn-outline-primary sameSize" (click)="flipView('display')">DISPLAY</button>
     </div>
   </div>
    <div class="col-md-8 flex"> 
      <div *ngIf="dataGet">
        <app-data-manager></app-data-manager>
      </div>
      <div *ngIf="dataDisplay">
        <app-main-analysis></app-main-analysis>
      </div>
    </div>
    <div class="col-sm-2 flex sidePanel">
      <app-messages></app-messages>
    </div>
</div>

