
 <div class="container">
    <div class="row" style="background-color: aquamarine;">
      <div class="col-sm-6">
        <div ngbDropdown >
          <button  ngbDropdownToggle type="button" class="circularButton btn-success" style="float: right;" >Analysis</button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem routerLink="/fetchData" class="btn-outline-info">Get New Company Data</button>
            <button ngbDropdownItem routerLink="/displayData" class="btn-outline-info">Display Company Data</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <button  routerLink="/dashboardManagement" type="button" class="circularButton btn-danger">Management</button>
      </div>  
    </div>
    <router-outlet></router-outlet>
    <footer class="container giveMeSpace" style="background-color: blue; color: azure; padding: 50px;">
      <app-messages ></app-messages>
      <hr>
      <div class="row">
        <ul style="color: red;">...to do Manager:
          <li></li>
          <li></li>
          <li></li>
          
        </ul>   
      </div>
      <div class="row">
        <ul style="color:rgb(49, 223, 49)">... to do Analysis:
          <ul>
            <li>....company proflie, get industry, create the 6 overview p/e eps price etc</li>
            <li>...... set high year range limit, or implement a mode to just display years from top to bottom</li>
            <li>...... putting new data into the DB, check for eps and limit the decimal places to 2</li>
            <li>......so everything looks uniform, Create a mode to display years without scrutinising the actual years, </li>
            <li>hover capabilities and dropdown</li>
          </ul>
          <li></li>
        </ul>      
      </div>
    </footer>
 </div>
 
  




