
  <div class="row" style="background-color: aquamarine;">
    <div class="col-sm-8" style="text-align: center;"> 
      <button  routerLink="/dashboardFund" type="button" class="circularButton btn-success">Analysis</button>
      <button  routerLink="/dashboardManagement" type="button" class="circularButton btn-danger">Management</button>
    </div>    
  </div>
  <router-outlet></router-outlet>
  <footer style="background-color: blue; color: azure; position: relative;">
    <div class="row">
      <ul style="color: red;">...to do Manager:
        <li></li>
        <li></li>
        <li></li>
        
      </ul>   
    </div>
    <div class="row">
      <ul style="color:rgb(49, 223, 49)">... to do Analysis:
        <li>......Create misc library: split netIncome into net Income based on upper case</li>
        <li>...... Alter Search Critea : Line under buttons 1st row; 3 columns of statements </li>
        <li>...... </li>
      </ul>      
    </div>
  </footer>





