.enlarge{
    font-size: 150%;
}

.centreThis{
    text-align: center;
}

.bottomBorder{
    border-bottom: 1px;
    border-bottom-color: aqua;
    border-bottom-style: solid;
    color: blueviolet;
}
.rightBorder{
    border-right: 1px;
    border-right-color: aqua;
    border-right-style: solid;
}